:root {
    /*primary colors*/
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /*neutral colors*/
    --off-white:  hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

main {
    margin: 0px 15px;
}

nav {
    padding-top: 130px;
    background-color: white;
    width: 270px;
    height: 570px;
    position: absolute;
    top: 0;
    margin-left: 105px;
    display: none;
    backdrop-filter: blur(8px);
}

h1 {
    font-weight: 800;
    font-size: 40px;
    margin-top: 10px;
    padding-right: 50px;
    line-height: 2.5rem;
}

h2 {
    color: var(--soft-orange);
    margin: 0px 0px 30px 0px;
    font-size: 30px;
}

h3 {
    margin: 0px 0px 10px 0px;
}

h4 {
    margin: 15px 0px 15px 0px;
    font-size: 18px;
    font-weight: 800;
}

ul {
    padding: 0px 0px 0px 25px;
}

li {
    list-style: none;
    margin: 20px 0px;
}

li a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 1.5rem;
    font-size: 15px;
    margin-top: 0px;
}

button {
    background-color: var(--soft-red);
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    border: 1px solid var(--soft-red);
}

/*top bar mobile*/

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px;
} 

.logo-top {
    width: 50px;
}
/*nav styling mobile*/

.side-filter {
    position: absolute;
    top: 0;
    left: -105px;
    width: 105px;
    height: 700px;
    background-color: hsla(240, 100%, 5%, 0.397);
}

.close-b {
    position: absolute;
    top: 20px;
    right: 20px;
}

/*section one styling mobile*/

.geo-blocks {
    width: 100%;
}

/*navy blue new section mobile*/

.new-section {
    background-color: var(--very-dark-blue);
    color: white;
    padding: 20px;
    margin: 70px 0px 70px 0px;
}

.new-section p {
    color: var(--grayish-blue);
    margin: 0;
}

hr {
    border: 1px solid var(--dark-grayish-blue);
    margin: 25px 0px;
}

/*tech news section*/

.tech-container {
    display: flex;
    margin-bottom: 30px;
}

.tech-container img {
    width: 100px;
    margin-right: 20px;
}

.number {
    color: var(--grayish-blue);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blurb {
    color: var(--dark-grayish-blue);
    margin-bottom: 0px;
    padding-right: 20px;
}

/*footer mobile*/

footer {
    text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
    margin: 30px 0px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
    font-size: 30px;
    color: var(--soft-red);
    margin-bottom: 30px;
}