:root {
	/*primary colors*/
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);

	/*neutral colors*/
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
}

body {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

main {
	margin: 0px 15px;
}

nav {
	padding-top: 130px;
	background-color: white;
	width: 270px;
	height: 570px;
	position: absolute;
	top: 0;
	margin-left: 105px;
	display: none;
	font-size: 20px;
}

h1 {
	font-weight: 800;
	font-size: 40px;
	margin-top: 10px;
	padding-right: 50px;
	line-height: 2.5rem;
}

h2 {
	color: var(--soft-orange);
	margin: 0px 0px 30px 0px;
	font-size: 30px;
}

h3 {
	margin: 0px 0px 10px 0px;
}

h4 {
	margin: 15px 0px 15px 0px;
	font-size: 18px;
	font-weight: 800;
}

ul {
	padding: 0px 0px 0px 25px;
}

li {
	list-style: none;
	margin: 20px 0px;
}

li a {
	text-decoration: none;
	color: black;
}

p {
	line-height: 1.5rem;
	font-size: 15px;
	margin-top: 0px;
}

button {
	background-color: var(--soft-red);
	color: white;
	padding: 15px 30px;
	text-transform: uppercase;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 4px;
	border: 1px solid var(--soft-red);
}

/*top bar mobile*/

.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 25px 0px;
}

.logo-top {
	width: 50px;
}
/*nav styling mobile*/

.side-filter {
	position: absolute;
	top: 0;
	left: -120px;
	width: 120px;
	height: 700px;
	background-color: hsla(240, 100%, 5%, 0.397);
}

.close-b {
	position: absolute;
	top: 30px;
	right: 30px;
}

/*section one styling mobile*/

.geo-blocks {
	width: 100%;
}

.geo-blocks-dt {
	display: none;
}

/*navy blue new section mobile*/

.new-section {
	background-color: var(--very-dark-blue);
	color: white;
	padding: 20px;
	margin: 70px 0px 70px 0px;
}

.new-section p {
	color: var(--grayish-blue);
	margin: 0;
}

hr {
	border: 1px solid var(--dark-grayish-blue);
	margin: 25px 0px;
}

/*tech news section*/

.tech-container {
	display: flex;
	margin-bottom: 30px;
}

.tech-container img {
	width: 100px;
	margin-right: 20px;
}

.number {
	color: var(--grayish-blue);
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}

.blurb {
	color: var(--dark-grayish-blue);
	margin-bottom: 0px;
	padding-right: 20px;
}

/*footer mobile*/

footer {
	text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin: 30px 0px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
	font-size: 30px;
	color: var(--soft-red);
	margin-bottom: 30px;
}

.fa-brands:hover {
    color: var(--very-dark-blue);
    cursor: pointer;
}

@media (min-width: 1440px) {
	main {
		margin: 60px 170px 0px 170px;
	}

	h1 {
		font-size: 55px;
		line-height: 3.5rem;
	}

	h2 {
		font-size: 40px;
	}

    h3:hover {
        color: var(--soft-orange);
        cursor: pointer;
    }

    h4:hover {
        color: var(--soft-red);
        cursor: pointer;
    }

	button {
		margin-top: 25px;
	}

    button:hover {
        background-color: var(--very-dark-blue);
        border: 1px solid var(--very-dark-blue);
        cursor: pointer;
    }

	hr {
		margin: 30px 0px;
	}

	/*nav styling desktop*/

	.top-bar {
		display: none;
	}

	.desktop-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: unset;
		height: unset;
		width: unset;
		background-color: unset;
		position: relative;
		padding: 0;
		margin: 0px 0px 20px 0px;
	}

	.categories {
		padding-right: 0 !important;
	}

	.desktop-nav ul {
		padding: 0;
		justify-items: right;
	}

	.desktop-nav li {
		display: inline-block;
		padding-right: 30px;
	}

	.desktop-nav li a {
		color: var(--dark-grayish-blue);
		font-size: 16px;
	}
    
    .desktop-nav li a:hover {
        color: var(--soft-red);
    }

	/*nav styling end*/

	.geo-blocks {
		display: none;
	}

	.logo-top {
		width: unset;
	}

	.top-bar {
		margin-bottom: 60px;
	}

	/*gird and placement for desktop*/

	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}

	.geo-blocks-dt {
		width: 710px;
		display: block;
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	.new-section {
		grid-column: 3;
		grid-row: 1 / span 2;
		margin: 0;
		width: 300px;
		height: 455px;
		padding: 25px;
		margin-left: 11px;
	}

	.top-blurb-n-button {
		margin-top: 30px;
		grid-column: 2;
		grid-row: 2;
		padding-right: 20px;
		color: var(--dark-grayish-blue);
	}

	.top-title {
		margin-top: 30px;
		grid-column: 1;
		grid-row: 2;
	}

	.tech-section {
		grid-column: 1 / span 3;
		grid-row: 3;
		display: flex;
		margin-top: 60px;
	}

	.tech-two {
		margin-right: 20px;
	}

	.growth {
		position: relative;
	}
}
