:root {
    /*primary colors*/
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /*neutral colors*/
    --off-white:  hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

nav {
    padding-top: 130px;
    background-color: white;
    width: 270px;
    height: 570px;
    position: absolute;
    margin-left: 105px;
}

ul {
  
    padding: 0px 0px 0px 25px;
}

li {
    list-style: none;
    margin: 20px 0px;
}

li a {
    text-decoration: none;
    color: black;
}

.geo-blocks {
    width: 100%;
}

.tech-container {
    display: flex;
}

footer {
    text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
    margin: 30px 0px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
    font-size: 30px;
    color: var(--soft-red);
    margin-bottom: 30px;
}